:root {
    --primary-white-text: #f9faf8;
    --secondary-light-text: #e5e7eb;
    --primary-dark: #1f2937;
    --primary-light: #ebebeb;
    --primary-color: #3882f6;
    --primary-color-hover: #1966e2;
    --max-width: 1280px;
    --max-width-narrow: 1120px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, serif;
}

nav,
section,
footer {
    padding: 32px;
}

a {
    text-decoration: none;
    color: var(--primary-white-text);
    margin-left: 16px;
}

button {
    padding: 8px 32px;
    background-color: var(--primary-color);
    color: var(--primary-white-text);
    border-radius: 8px;
    font-weight: 700;
    border: 2px hidden var(--primary-white-text);
}

button:hover {
    background-color: var(--primary-color-hover);
    color: var(--secondary-light-text);
    cursor: pointer;
}

h1 {
    padding-top: 1rem;
    font-size: 48px;
    font-weight: 800;
    color: var(--primary-white-text);
}

h2 {
    padding-bottom: 2rem;
    font-size: 36px;
    font-weight: 800;
    color: var(--primary-dark);
}

p {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.sign-up-cta {
    border: 2px solid var(--primary-white-text);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-row {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
}

.flex-column {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.narrow {
    padding: 0 80px;
    max-width: 1120px;
}

.info {
    text-align: center;
}

.stamps {
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 64px;
}

.stamp {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 220px;
}

.rounded-blue {
    background-color: var(--primary-white-text);
    border: var(--primary-color) solid 4px;
    border-radius: 16px;
    width: 100%;
    flex-basis: 220px; /*<- this is the height*/
}

.cta .flex-row {
    background-color: var(--primary-color);
    color: var(--primary-white-text);
    border-radius: 8px;
    padding: 48px 120px;
} 

.header,
.hero,
.footer {
    background-color: var(--primary-dark);
    color: var(--primary-light);
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: var(--primary-white-text);
}

.hero-image {
    margin-left: 48px;
    background-color: var(--primary-light);
    color: var(--primary-dark);
    flex-basis: 600px;
    align-self: stretch;
    min-height: 200px;
    text-align: center;
}

.testimonial {
    background-color: var(--secondary-light-text);
    padding-top: 96px;
    padding-bottom: 64px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.customer {
    margin-top: 24px;
    align-self: flex-end;
    font-weight: 700;
    font-size: 18px;
}