* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, serif;
}

nav,
section,
footer {
    padding: 32px;
}

a {
    text-decoration: none;
    color: #f9faf8;
    margin-left: 16px;
}

button {
    padding: 8px 32px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    font-weight: 700;
}

button:hover {
    background-color: #3881f6bd;
    cursor: pointer;
}

.sign-up-cta {
    border: 2px solid #f9faf8;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-row {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}

.flex-column {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.narrow {
    padding: 0 120px;
    max-width: 1040px;
}

.stamp {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.rounded-blue {
    height: 200px;
    width: 200px;
}

.cta .flex-row {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    padding: 48px 120px;
} 


.header,
.hero,
.footer {
    background-color: #1f2937;
    color: #ebebeb;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: #f9faf8;
}

.testimonial {
    background-color: #e5e7eb;
    padding-top: 96px;
    padding-bottom: 64px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.customer {
    margin-top: 24px;
    align-self: flex-end;
    font-weight: 700;
    font-size: 18px;
}

.hero-image {
    background-color: #ebebeb;
    color: #1f2937;
    width: 400px;
    height: 200px;
    text-align: center;
}

.rounded-blue {
    background-color: #f9faf8;
    border: #3882f6 solid 4px;
    border-radius: 8px;
}